body {
	background: rgb(184, 199, 129);
	background: linear-gradient(90deg, rgba(184, 199, 129, 1) 0%, rgba(9, 121, 61, 0.38139005602240894) 67%, rgba(0, 212, 255, 0.5550595238095238) 100%);
}

.App {
	text-align: center;
}

/* Flex container properties */
.flex-item.column {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.flex-container {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
	margin-top: 50px;
}

.flex-item {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
}

div.field-box {
	display: inline-grid;
	border: 0;
	background: RGBA(0, 0, 0, 0.13);
	padding-bottom: 20px;
}

/* Common components properties */

.invalid-feedback {
  text-align: right;
  color: #f11515;
  margin-right: 20px;
  font-size: 12px;
} 

button {
	width: 89%;
	display: inherit;
	margin: 20px;
	border: 0;
}

.btn {
	background: #34d9bd;
	background-image: linear-gradient(to bottom, #34d9bd, #2bb8b8);
	border-radius: 4px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}